@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_GirisLayout.cshtml";
}


<div class="jumbotron" style="text-align:center">
    <h1>Gazi Üniversitesi</h1>

</div>

<div class="row">
    
    <div class="row">
        <div>

            <div class="col-md-12 col-md-6">
                @(Model)
            </div>
        </div>
    </div>
</div>


